In [3]:
import numpy as np
import pandas as pd
# import yaml

In [4]:
%config Completer.use_jedi = False

In [5]:
df_egada_2018 =  pd.read_csv("../data/EGEDA_2018_items.csv",index_col=["economy","fuel_code","year"])

In [6]:
df_egada_2018 = df_egada_2018.stack().unstack(level = 2)

In [7]:
IPCC_map = pd.read_excel("../config/IPCC Methodology to EGEDA map.xlsx" , sheet_name = "MAP", header=1,usecols=["Account","Fuel type","Fuel"] 
)

In [8]:
IPCC_Emission = pd.read_excel("../config/IPCC Methodology to EGEDA map.xlsx", sheet_name = "Emission Factors", header=0,index_col="Fuel type ")

In [9]:
EGADA_names = pd.read_excel("../config//IPCC Methodology to EGEDA map.xlsx" , sheet_name = "EGEDA")

In [10]:
IPCC_Emission

,Unnamed: 1,Lower,Upper,Unnamed: 4,Default Carbon content(kg/GJ)
Fuel type,,,,,
Crude Oil,20.0,19.4,20.6,NaN,20.0
Orimulsion,21.0,18.9,23.3,NaN,22.0
Natural gas liquids,17.5,15.9,19.9,NaN,17.2
Motor gasoline,18.9,18.4,19.9,NaN,18.9
Aviation gasoline,19.1,18.4,19.9,NaN,19.1
Jet gasoline,19.1,18.4,20.3,NaN,19.1
Jet kerosene,19.5,19.0,20.1,NaN,19.5
Other kerosene,19.6,19.3,21.6,NaN,19.6
Shale oil,20.0,18.5,20.4,NaN,20.0
Gas/Diesel oil,20.2,19.8,21.5,NaN,20.2
Residual fuel oil,21.1,20.6,17.9,NaN,21.1
Liquefied petroleum gases,17.2,16.8,18.7,NaN,17.2
Ethane,16.8,15.4,20.8,NaN,16.8
Naphtha,20.0,18.9,24.5,NaN,20.0
Bitumen,22.0,19.9,20.5,NaN,22.0
Lubricants,20.0,19.6,31.3,NaN,20.0
Petroleum coke,26.6,22.6,20.9,NaN,27.5
Refinery feedstocks,20.0,18.8,19.0,NaN,20.0
Refinery gas2,15.7,13.3,20.3,NaN,15.7
Paraffin waxes,20.0,19.7,20.3,NaN,20.0
White spirit & SBP,20.0,19.7,20.3,NaN,20.0
Other petroleum products,20.0,19.7,27.5,NaN,20.0
Anthracite,26.8,25.8,27.6,NaN,26.8
Coking coal,25.8,23.8,27.2,NaN,25.8
Other bituminous coal,25.8,24.4,27.3,NaN,25.8
Sub-bituminous coal,26.2,25.3,31.3,NaN,26.2
Lignite,27.6,24.8,34.0,NaN,27.6
Oil shale and tar sands,29.1,24.6,29.0,NaN,29.1
Brown coal briquettes,26.6,23.8,29.6,NaN,25.8
Patent fuel,26.6,23.8,29.6,NaN,26.6
Coke oven coke and lignite coke,29.2,26.1,32.4,NaN,29.5
Gas coke,29.2,26.1,32.4,NaN,29.5
Coal tar,22.0,18.6,26.0,NaN,22.0
Gas works gas,12.1,10.3,15.0,NaN,12.1
Coke oven gas,12.1,10.3,15.0,NaN,12.1
Blast furnace gas,70.8,59.7,84.0,NaN,70.8
Oxygen steel furnace gas,49.6,39.5,55.0,NaN,49.6
Natural gas,15.3,14.8,15.9,NaN,15.3
Municipal wastes (non-biomass fraction),25.0,20.0,33.0,NaN,25.0
Industrial wastes,39.0,30.0,50.0,NaN,39.0
Waste oils,20.0,19.7,20.3,NaN,20.0
Peat,28.9,28.4,29.5,NaN,28.9
Wood/wood waste,30.5,25.9,36.0,NaN,30.5
Sulphite lyes (black liquor),26.0,22.0,30.0,NaN,26.0
Other primary solid biomass,27.3,23.1,32.0,NaN,29.9
Charcoal,30.5,25.9,36.0,NaN,30.5
Biogasoline,19.3,16.3,23.0,NaN,20.0
Biodiesels,19.3,16.3,23.0,NaN,20.0
Other liquid biofuels,21.7,18.3,26.0,NaN,20.0
Landfill gas,14.9,12.6,18.0,NaN,14.9
Sludge gas,14.9,12.6,18.0,NaN,14.9
Other biogas,14.9,12.6,18.0,NaN,30.6
Municipal wastes (biomass fraction),27.3,23.1,32.0,NaN,27.3
NaN,NaN,NaN,NaN,NaN,NaN
1 Revised 1996 IPCC Guidelines,NaN,NaN,NaN,NaN,NaN
2 2006 IPCC Guidelines,NaN,NaN,NaN,NaN,NaN

In [11]:
IPCC_Emission = IPCC_Emission[["Default Carbon content(kg/GJ)"]]

In [12]:
Emission_egeda = IPCC_map.join(IPCC_Emission,on="Fuel type").dropna()

In [13]:
Emission_egeda= Emission_egeda.set_index(['Fuel','Account'])

In [14]:
Emission_egeda.loc[pd.IndexSlice[:,"LULUCF"],:] = 0

In [15]:
Emission_egeda = Emission_egeda.droplevel(level = 1, axis =0)

In [16]:
Emission_egeda.index = Emission_egeda.index.rename("fuel_code")

In [17]:
Emission_egeda = Emission_egeda[["Default Carbon content(kg/GJ)"]]

In [18]:
Emission_egeda

                                         Default Carbon content(kg/GJ)
fuel_code
6_1_crude_oil                                                     20.0
6_2_natural_gas_liquids                                           17.2
7_1_motor_gasoline                                                18.9
7_2_aviation_gasoline                                             19.1
7_4_gasoline_type_jet_fuel                                        19.1
7_5_kerosene_type_jet_fuel                                        19.5
7_6_kerosene                                                      19.6
5_oil_shale_and_oil_sands                                         20.0
7_7_gas_diesel_oil                                                20.2
7_8_fuel_oil                                                      21.1
7_9_lpg                                                           17.2
7_11_ethane                                                       16.8
7_3_naphtha                                                       20.0
7_14_bitumen                                                      22.0
7_13_lubricants                                                   20.0
7_16_petroleum_coke                                               27.5
6_3_refinery_feedstocks                                           20.0
7_10_refinery_gas_not_liquefied                                   15.7
7_15_paraffin_waxes                                               20.0
7_12_white_spirit_sbp                                             20.0
7_17_other_products                                               20.0
1_4_anthracite                                                    26.8
1_1_coking_coal                                                   25.8
1_2_other_bituminous_coal                                         25.8
1_3_subbituminous_coal                                            26.2
1_5_lignite                                                       27.6
5_oil_shale_and_oil_sands                                         29.1
2_7_bkb_pb                                                        25.8
2_5_patent_fuel                                                   26.6
2_1_coke_oven_coke                                                29.5
2_6_coal_tar                                                      22.0
8_3_gas_works_gas                                                 12.1
2_2_coke_oven_gas                                                 12.1
2_3_blast_furnace_gas                                             70.8
2_4_other_recovered_gases                                         49.6
8_1_natural_gas                                                   15.3
16_4_municipal_solid_waste_nonrenewable                           25.0
16_2_industrial_waste                                             39.0
3_peat                                                            28.9
15_1_fuelwood_and_woodwaste                                        0.0
15_4_black_liquor                                                  0.0
15_5_other_biomass                                                 0.0
15_3_charcoal                                                      0.0
16_5_biogasoline                                                   0.0
16_6_biodiesel                                                     0.0
16_8_other_liquid_biofuels                                         0.0
16_1_biogas                                                        0.0
16_3_municipal_solid_waste_renewable                               0.0
6_4_additives_oxygenates                                          17.2
6_5_other_hydrocarbons                                            20.0
8_2_lng                                                           15.3
4_peat_products                                                   28.9

In [19]:
Emission_egeda =Emission_egeda*3.67/1000000

In [20]:
df_egada_Emission_2018 = df_egada_2018.join(Emission_egeda, on = "fuel_code")

In [21]:
df_egada_Emission_2018 = df_egada_Emission_2018#.dropna()

In [22]:
'7_total_primary_energy_supply'
'13_total_final_energy_consumption'

'13_total_final_energy_consumption'

In [23]:
df_egada_Emission_2018 = df_egada_Emission_2018.mul(df_egada_Emission_2018["Default Carbon content(kg/GJ)"]*1000, axis =0).drop("Default Carbon content(kg/GJ)",axis =1)

In [24]:
df_egada_Emission_2018.index.names = ['economy', 'fuel_code',"item_code_new"]

In [25]:
#df_egada_Emission_2018 = df_egada_Emission_2018.loc[pd.IndexSlice[:,:,2018],:].droplevel(level = 2)

In [26]:
df_egada_Emission_2018 = df_egada_Emission_2018.reset_index()

In [27]:
#df_egada_Emission_2018["new_code"] 

df_egada_Emission_2018.replace(np.nan,0).to_csv("EGEDA_FC_CO2_Emissions_years_2018.csv",index = False)

In [28]:
df_egada_Emission_2018

,economy,fuel_code,item_code_new,1980,1981,1982,1983,1984,1985,1986,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,01_AUS,10_hydro,1_indigenous_production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01_AUS,10_hydro,2_imports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01_AUS,10_hydro,3_exports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01_AUS,10_hydro,4_international_marine_bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01_AUS,10_hydro,5_international_aviation_bunkers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210135,APEC,9_nuclear,17_2_industry_sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210136,APEC,9_nuclear,17_3_transport_sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210137,APEC,9_nuclear,17_4_other_sector,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210138,APEC,9_nuclear,18_electricity_output_in_pj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210139,APEC,9_nuclear,19_heat_output_in_pj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df = pd.DataFrame(zip(["1_2_other_bituminous_coal",
                "1_3_subbituminous_coal",
                "1_4_anthracite",
                "3_peat",
                "4_peat_products",
                "6_2_natural_gas_liquids",
                "6_3_refinery_feedstocks",
                "6_4_additives_oxygenates",
                "6_5_other_hydrocarbons",
                "7_12_white_spirit_sbp",
                "7_13_lubricants",
                "7_14_bitumen",
                "7_15_paraffin_waxes",
                "7_16_petroleum_coke",
                "7_17_other_products",
                "7_4_gasoline_type_jet_fuel",
                "7_5_kerosene_type_jet_fuel",
                "2_1_coke_oven_coke",
                "2_2_coke_oven_gas",
                "2_3_blast_furnace_gas",
                "2_4_other_recovered_gases",
                "2_5_patent_fuel",
                "2_6_coal_tar",
                "2_7_bkb_pb"
                ]
                      ,[
                    "1_x_coal_thermal",
                    "1_x_coal_thermal",
                    "1_x_coal_thermal",
                    "1_x_coal_thermal",
                    "1_x_coal_thermal",
                    "6_x_ngls",
                    "6_x_ngls",
                    "6_x_ngls",
                    "6_x_ngls",
                    "7_x_other_petroleum_products",
                    "7_x_other_petroleum_products",
                    "7_x_other_petroleum_products",
                    "7_x_other_petroleum_products",
                    "7_x_other_petroleum_products",
                    "7_x_other_petroleum_products",
                    "7_x_jet_fuel",
                    "7_x_jet_fuel",
                    "2_coal_products",
                    "2_coal_products",
                    "2_coal_products",
                    "2_coal_products",
                    "2_coal_products",
                    "2_coal_products",
                    "2_coal_products"
                      ]),
               columns =['fuel_code', 'new_code'])

In [30]:
df

                     fuel_code                      new_code
0    1_2_other_bituminous_coal              1_x_coal_thermal
1       1_3_subbituminous_coal              1_x_coal_thermal
2               1_4_anthracite              1_x_coal_thermal
3                       3_peat              1_x_coal_thermal
4              4_peat_products              1_x_coal_thermal
5      6_2_natural_gas_liquids                      6_x_ngls
6      6_3_refinery_feedstocks                      6_x_ngls
7     6_4_additives_oxygenates                      6_x_ngls
8       6_5_other_hydrocarbons                      6_x_ngls
9        7_12_white_spirit_sbp  7_x_other_petroleum_products
10             7_13_lubricants  7_x_other_petroleum_products
11                7_14_bitumen  7_x_other_petroleum_products
12         7_15_paraffin_waxes  7_x_other_petroleum_products
13         7_16_petroleum_coke  7_x_other_petroleum_products
14         7_17_other_products  7_x_other_petroleum_products
15  7_4_gasoline_type_jet_fuel                  7_x_jet_fuel
16  7_5_kerosene_type_jet_fuel                  7_x_jet_fuel
17          2_1_coke_oven_coke               2_coal_products
18           2_2_coke_oven_gas               2_coal_products
19       2_3_blast_furnace_gas               2_coal_products
20   2_4_other_recovered_gases               2_coal_products
21             2_5_patent_fuel               2_coal_products
22                2_6_coal_tar               2_coal_products
23                  2_7_bkb_pb               2_coal_products

In [31]:
df =df.set_index("fuel_code")

In [32]:
df_egada_Emission_2018_agg = df_egada_Emission_2018.join(df,on =  "fuel_code")

In [33]:
df_egada_Emission_2018_agg = df_egada_Emission_2018_agg.dropna()

In [34]:
df_egada_Emission_2018_agg

,economy,fuel_code,item_code_new,1980,1981,1982,1983,1984,1985,1986,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,new_code
2565,01_AUS,1_2_other_bituminous_coal,1_indigenous_production,57.402236,79.383605,94.420567,111.019175,126.156057,135.881347,159.674102,...,425.560708,422.187973,467.442474,520.055669,551.653760,567.227712,542.034409,547.185983,563.543501,1_x_coal_thermal
2566,01_AUS,1_2_other_bituminous_coal,2_imports,0.004650,0.000000,0.002367,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.027263,0.032717,0.002727,0.040896,0.000000,0.000000,0.117237,0.327167,1_x_coal_thermal
2567,01_AUS,1_2_other_bituminous_coal,3_exports,-20.682287,-24.686549,-27.176982,-43.011279,-70.523828,-95.638118,-103.758717,...,-328.476574,-348.759215,-385.766822,-442.054495,-473.511450,-497.702178,-488.177732,-489.956571,-493.258733,1_x_coal_thermal
2568,01_AUS,1_2_other_bituminous_coal,4_international_marine_bunkers,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1_x_coal_thermal
2569,01_AUS,1_2_other_bituminous_coal,5_international_aviation_bunkers,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1_x_coal_thermal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208995,APEC,7_5_kerosene_type_jet_fuel,17_2_industry_sector,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7_x_jet_fuel
208996,APEC,7_5_kerosene_type_jet_fuel,17_3_transport_sector,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7_x_jet_fuel
208997,APEC,7_5_kerosene_type_jet_fuel,17_4_other_sector,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7_x_jet_fuel
208998,APEC,7_5_kerosene_type_jet_fuel,18_electricity_output_in_pj,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.145306,0.131393,0.139638,0.106660,0.087596,0.014685,0.010305,0.009530,0.012084,7_x_jet_fuel
208999,APEC,7_5_kerosene_type_jet_fuel,19_heat_output_in_pj,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7_x_jet_fuel

In [35]:
#df_egada_Emission_2018_agg.rename_axis(index ={"new_code":"fuel_code"})

In [36]:
#df_egada_Emission_2018_agg.set_index(["economy","fuel_code","new_code"])#.loc[pd.IndexSlice[:,:,"1_x_coal_thermal"],['12_total_final_consumption']]

In [37]:
df_egada_Emission_2018_agg = df_egada_Emission_2018_agg.groupby(["economy",'new_code',"item_code_new"]).sum()

In [38]:
df_egada_Emission_2018  = df_egada_Emission_2018_agg.rename_axis(index ={"new_code":"fuel_code"}).reset_index()

In [39]:
#df_egada_Emission_2018 = pd.concat([df_egada_Emission_2018,df_egada_Emission_2018_agg])

In [40]:
df_egada_Emission_2018

,economy,fuel_code,item_code_new,1980,1981,1982,1983,1984,1985,1986,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,01_AUS,1_x_coal_thermal,10_1_10_blast_furnaces,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,01_AUS,1_x_coal_thermal,10_1_11_patent_fuel_plants,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,01_AUS,1_x_coal_thermal,10_1_12_bkb_pb_plants,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,01_AUS,1_x_coal_thermal,10_1_13_liquefaction_plants_coal_to_oil,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,01_AUS,1_x_coal_thermal,10_1_14_oil_refineries,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13295,APEC,7_x_other_petroleum_products,9_5_coal_transformation,0.0,0.0,-4.100342,-3.824027,-3.209998,-2.282136,-2.534569,...,-2.274792,-2.155656,-1.556141,-1.664102,-1.751057,-2.014106,-1.928364,-2.059139,-1.842884,-1.836828
13296,APEC,7_x_other_petroleum_products,9_6_petrochemical_industry,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.135057,-0.135057,0.000000,-0.499119,0.000000,-0.135057,-0.460951,-0.364065,0.000000,-0.375808
13297,APEC,7_x_other_petroleum_products,9_7_biofuels_processing,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13298,APEC,7_x_other_petroleum_products,9_8_charcoal_processing,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13299,APEC,7_x_other_petroleum_products,9_9_nonspecified_transformation,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.000074,-0.000077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [41]:
#df_egada_Emission_2018_agg.index = df_egada_Emission_2018_agg.index.set_names(["economy","fuel_code","year"])

In [42]:
df_egada_Emission_2018 =df_egada_Emission_2018.set_index(["economy","fuel_code","item_code_new"])

In [43]:
#(df_egada_Emission_2018_agg['12_total_final_consumption']/(df_egada_2018.loc[pd.IndexSlice[:,:,2018],:].droplevel(level =2 )['12_total_final_consumption']*1000)).dropna()

In [44]:
df_egada_Emission_2018 = df_egada_Emission_2018.stack().reset_index()

In [45]:
df_egada_Emission_2018

,economy,fuel_code,item_code_new,level_3,0
0,01_AUS,1_x_coal_thermal,10_1_10_blast_furnaces,1980,0.0
1,01_AUS,1_x_coal_thermal,10_1_10_blast_furnaces,1981,0.0
2,01_AUS,1_x_coal_thermal,10_1_10_blast_furnaces,1982,0.0
3,01_AUS,1_x_coal_thermal,10_1_10_blast_furnaces,1983,0.0
4,01_AUS,1_x_coal_thermal,10_1_10_blast_furnaces,1984,0.0
...,...,...,...,...,...
518695,APEC,7_x_other_petroleum_products,9_9_nonspecified_transformation,2014,0.0
518696,APEC,7_x_other_petroleum_products,9_9_nonspecified_transformation,2015,0.0
518697,APEC,7_x_other_petroleum_products,9_9_nonspecified_transformation,2016,0.0
518698,APEC,7_x_other_petroleum_products,9_9_nonspecified_transformation,2017,0.0
518699,APEC,7_x_other_petroleum_products,9_9_nonspecified_transformation,2018,0.0

In [46]:
df_egada_Emission_2018.columns = ["economy","fuel_code","item_code_new","year",0]

In [47]:
df_egada_Emission_2018 = df_egada_Emission_2018.set_index(["economy","item_code_new","fuel_code","year"])#.unstack("year")

In [48]:
#df_egada_Emission_2018 = pd.concat([df_egada_Emission_2018,df_egada_Emission_2018_agg],axis = 0 )

In [49]:
df_egada_Emission_2018

                                                                             0
economy item_code_new                   fuel_code                    year
01_AUS  10_1_10_blast_furnaces          1_x_coal_thermal             1980  0.0
                                                                     1981  0.0
                                                                     1982  0.0
                                                                     1983  0.0
                                                                     1984  0.0
...                                                                        ...
APEC    9_9_nonspecified_transformation 7_x_other_petroleum_products 2014  0.0
                                                                     2015  0.0
                                                                     2016  0.0
                                                                     2017  0.0
                                                                     2018  0.0

[518700 rows x 1 columns]

In [50]:
df_egada_Emission_2018 = df_egada_Emission_2018.loc[pd.IndexSlice[:,:,:,2017],:].droplevel(level =-1 )

In [51]:
#df_egada_Emission_2018.stack()#.reset_index().pivot_table(index =["economy","fuel_code"]+cols, columns = "year")

In [52]:
#df_egada_Emission_2018

In [53]:
df_egada_2018 = df_egada_2018.rename_axis(index = {None: "item_code_new"})

In [54]:

df_egada_2018 = df_egada_2018.loc[:,2017]

In [55]:
df_egada_2018 = df_egada_2018.reorder_levels([0,2,1])

In [56]:
df_egada_Emission_2018

                                                                                     0
economy item_code_new                           fuel_code
01_AUS  10_1_10_blast_furnaces                  1_x_coal_thermal              0.000000
        10_1_11_patent_fuel_plants              1_x_coal_thermal              0.000000
        10_1_12_bkb_pb_plants                   1_x_coal_thermal              0.000000
        10_1_13_liquefaction_plants_coal_to_oil 1_x_coal_thermal              0.000000
        10_1_14_oil_refineries                  1_x_coal_thermal              0.000000
...                                                                                ...
APEC    9_5_coal_transformation                 7_x_other_petroleum_products -1.842884
        9_6_petrochemical_industry              7_x_other_petroleum_products  0.000000
        9_7_biofuels_processing                 7_x_other_petroleum_products  0.000000
        9_8_charcoal_processing                 7_x_other_petroleum_products  0.000000
        9_9_nonspecified_transformation         7_x_other_petroleum_products  0.000000

[13300 rows x 1 columns]

In [57]:
#df_egada_2018.loc[pd.IndexSlice[:,:,2018],:].droplevel(level =2 )['12_total_final_consumption']

In [60]:
emmsion_factoers

economy  item_code_new                    fuel_code
01_AUS   10_1_10_blast_furnaces           10_hydro                      NaN
                                          11_geothermal                 NaN
                                          12_1_of_which_photovoltaics   NaN
                                          12_solar                      NaN
                                          13_tide_wave_ocean            NaN
                                                                         ..
APEC     9_9_nonspecified_transformation  8_1_natural_gas               NaN
                                          8_2_lng                       NaN
                                          8_3_gas_works_gas             NaN
                                          8_gas                         NaN
                                          9_nuclear                     NaN
Length: 207480, dtype: float64

In [61]:
emmsion_factoers = df_egada_Emission_2018[0]/(df_egada_2018*1000)

In [62]:
emmsion_factoers = emmsion_factoers.loc[pd.IndexSlice[:,'12_total_final_consumption',:]]

In [63]:
#emmsion_factoers = emmsion_factoers[['12_total_final_consumption']]

In [64]:
Emission_egeda.head()

                            Default Carbon content(kg/GJ)
fuel_code
6_1_crude_oil                                    0.000073
6_2_natural_gas_liquids                          0.000063
7_1_motor_gasoline                               0.000069
7_2_aviation_gasoline                            0.000070
7_4_gasoline_type_jet_fuel                       0.000070

In [65]:
emmsion_factoers = emmsion_factoers.reset_index()

In [66]:
emmsion_factoers = emmsion_factoers.join(Emission_egeda, on = "fuel_code").dropna(how ="all")

In [67]:
emmsion_factoers

     economy                    fuel_code   0  Default Carbon content(kg/GJ)
0     01_AUS                     10_hydro NaN                            NaN
1     01_AUS                11_geothermal NaN                            NaN
2     01_AUS  12_1_of_which_photovoltaics NaN                            NaN
3     01_AUS                     12_solar NaN                            NaN
4     01_AUS           13_tide_wave_ocean NaN                            NaN
...      ...                          ...  ..                            ...
2179    APEC              8_1_natural_gas NaN                       0.000056
2180    APEC                      8_2_lng NaN                       0.000056
2181    APEC            8_3_gas_works_gas NaN                       0.000044
2182    APEC                        8_gas NaN                            NaN
2183    APEC                    9_nuclear NaN                            NaN

[2212 rows x 4 columns]

In [68]:
emmsion_factoers[0] = emmsion_factoers[0].fillna(emmsion_factoers["Default Carbon content(kg/GJ)"])

In [69]:
emmsion_factoers = emmsion_factoers.set_index(["economy","fuel_code"])

In [70]:
emmsion_factoers = emmsion_factoers[[0]]

In [71]:
emmsion_factoers = emmsion_factoers.dropna()

In [74]:
emmsion_factoers.sort_values(by=0)

                                                    0
economy fuel_code
01_AUS  15_1_fuelwood_and_woodwaste           0.00000
13_PNG  16_5_biogasoline                      0.00000
        16_3_municipal_solid_waste_renewable  0.00000
        16_1_biogas                           0.00000
        15_5_other_biomass                    0.00000
...                                               ...
        2_3_blast_furnace_gas                 0.00026
18_CT   2_3_blast_furnace_gas                 0.00026
11_MEX  2_3_blast_furnace_gas                 0.00026
19_THA  2_3_blast_furnace_gas                 0.00026
01_AUS  2_3_blast_furnace_gas                 0.00026

[1560 rows x 1 columns]

In [ ]:
emmsion_factoers = emmsion_factoers.round(decimals=1)

In [135]:
emmsion_factoers

                                        0
economy fuel_code
01_AUS  15_1_fuelwood_and_woodwaste   0.0
        15_3_charcoal                 0.0
        15_4_black_liquor             0.0
        15_5_other_biomass            0.0
        16_1_biogas                   0.0
...                                   ...
APEC    7_x_jet_fuel                  0.0
        7_x_other_petroleum_products  0.0
        8_1_natural_gas               0.0
        8_2_lng                       0.0
        8_3_gas_works_gas             0.0

[1562 rows x 1 columns]

In [136]:
emmsion_factoers.to_csv("emmsion_factoers.csv")

In [ ]:
emmsion_factoers.dropna(how='all').loc["APEC"][['12_total_final_consumption']].join(Emission_egeda, on = "fuel_code")

In [ ]:
emmsion_factoers.loc["02_BD"]

In [ ]:
ipcc_list =  IPCC_map.reset_index().dropna()["Fuel"].tolist()

In [ ]:
not_in_list  = [i for i in egada_list if i not in ipcc_list]

In [ ]:
Emission_egeda = IPCC_map.join(IPCC_Emission,on="Fuel type")

In [ ]:
egada_list = EGADA_names[2018].dropna().tolist()